[submodule "redshift"]
	path = config/redshift
	url = https://gist.github.com/5311c1828cf27d4b5732589546e62419.git
[submodule "dwm"]
	path = sources/dwm
	url = git@github.com:mrti259/dwm.git
[submodule "slstatus"]
	path = sources/slstatus
	url = git@github.com:mrti259/slstatus.git
[submodule "libxft"]
	path = sources/libxft
	url = https://gitlab.freedesktop.org/xorg/lib/libxft.git
[submodule "st"]
	path = sources/st
	url = git@github.com:mrti259/st.git
