[submodule "redshift"]
	path = redshift
	url = https://gist.github.com/5311c1828cf27d4b5732589546e62419.git
[submodule "dwm"]
	path = dwm
	url = git@github.com:mrti259/dwm.git
[submodule "slstatus"]
	path = slstatus
	url = git@github.com:mrti259/slstatus.git
[submodule "libxft"]
	path = libxft
	url = https://gitlab.freedesktop.org/xorg/lib/libxft.git
